<%= simple_form_for(task) do |f| %>
  <%= f.input :title %>
  <%= f.text_area :details %>
  <%= f.submit %>
<% end %>

<br>
<hr>
<br>

<%= form_for(task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "p-4" %>
  </div>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
